/* footer */
  
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  background-color: black;
}

.footer,
.footer * {
  font-size: 10px;
  color: #999;
}



.footer-menu-items {
  display: inline-block;
}


/* copy */

.copy {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.copy-year {
  margin-top: 5px;
}

.copy-spain-flag {
  margin-left: 5px;
  height: 15px;
  vertical-align: text-bottom;
}