 /* header */
 .main {
  margin-top: 60px; /* esto es lo que mide el header */
}

 .header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

.logo {
  height: 30px;
}
.nav{
  display: none;
}
.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

@media all and (min-width: 768px) {
  
    
  .hamb{
    display: none;
  }
  .nav{
    display: block;
  }
}